
main{
  margin-left: auto;
  margin-right: auto;
}

main{
  display:flex;
  grid-template-columns: repeat(1, 5fr);
  grid-template-rows: repeat(1, 5fr);
  max-width: 960px;
  justify-items: center;
  width: 100%;
}
header{
  width: 480px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  background-color: powderblue;
  font-size: 2em;
  /* nicholas showed us this centering trick from https://css-tricks.com/centering-css-complete-guide/ */
}
section{
  width: 90vw;
  height:20vh;
  justify-content: center;
  align-items: center;
  border: solid;
  display: flex;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  
}
#special{
  height: 60px;
  background-color: olivedrab;
}
div {
  align-items: flex-end;
  flex-wrap: wrap;
}
article{
  width: 50vw;
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  font-size: 2em;
  
}
#help{

  background-color: orchid;
}
article:nth-child(6){
  background-color: blue;
}
/* article:nth-child(4){
 
} */
footer {
 
  /* https://www.w3schools.com/css/css_float_clear.asp */
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  background-color: plum;
}

/* @media (min-width: 768px){
  main{
    width: 960px;
  
  }
  header{
    width: 960px;
    height: 100px;
    background-color: blue;
  }
  section{
    width: 380px;
    height: 200px;
    border: solid;
  }
  #special{
    height: 600px;
    width: 200px;
  
    background-color: green;
  }
  #right{
  
    background-color: teal;
  }
#left{

  background-color: palegoldenrod;
}
article{
  width: 190px;
  height: 250px;
  border: solid;
}
#help{
  background-color: orangered;
}
footer{

  height: 150px;
  width: 760px;
  border:solid;
  background-color: salmon;
}
} */